@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "interBold";
  src: url("../../_fonts/Inter-Bold.eot");
  src: url("../../_fonts/Inter-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/Inter-Bold.woff") format("woff"),
    url("../../_fonts/Inter-Bold.woff2") format("woff2"),
    url("../../_fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb300";
  src: url("../../_fonts/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb400";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb500";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "IRANSansWeb600";
    src: url("../../_fonts/IRANSansWeb_Bold.eot");
    src: url("../../_fonts/IRANSansWeb_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb_Bold.woff") format("woff"),
      url("../../_fonts/IRANSansWeb_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb_Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
@font-face {
  font-family: "IRANSansWeb700";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "IRANSansWeb800";
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "IRANSansWeb900";
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter400";
    /* src: url("../fonts/inter.ttf")  format("truetype"); */
    src: url("../fonts/Inter-Regular.eot");
    src: url("../fonts/Inter-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/Inter-Regular.woff") format("woff"),
      url("../fonts/Inter-Regular.woff2") format("woff2"),
      url("../fonts/Inter-Regular.ttf") format("truetype");


    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "NotoSans400";
    src: url("../fonts/noto.ttf")  format("truetype");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ABeeZee400";
    src: url("../fonts/ABeeZee-Regular.ttf")  format("truetype");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
.faNum {
  font-family: "IRANSansWeb300";
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
* {
  box-sizing: border-box;
  /* direction: rtl; */
}
a {
  text-decoration: none;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSansWeb700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSansWeb500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSansWeb400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSansWeb300";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSansWeb500";
  line-height: 24px;
}

.Home-BasisPanel .section-1 {
  background-image: url('../../images/homebg-v3.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.ReleaseNote-Show .Bg-gray-sec,
.CrmServices .Bg-gray-sec,
.TaskManager-C .Bg-gray-sec ,
.BPMS-BasisPanel .Bg-gray-sec{
    /* background-image: url('../images/bg-light-v3.png'); */
    background-image: url('../../images/bg-light-v3.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.CrmServices .Bg-gray-sec::after,
.TaskManager-C .Bg-gray-sec::after,
.BPMS-BasisPanel .Bg-gray-sec::after{
  position: absolute;
  bottom: 0;
  content: '';
  left: 0;
  width: 100%;
  height: 65%;
  background: rgb(255 255 255 / 59%);
  opacity: .9;
  pointer-events: none;
}
.CrmServices .Bg-gray-sec,
.TaskManager-C .Bg-gray-sec,
.BPMS-BasisPanel .Bg-gray-sec{
  clip-path: ellipse(76% 45% at 50% 33%);
    transform: rotate(180deg);
    background-size: contain;
    background-repeat: repeat;
}

.CrmServices .Bg-gray-sec::after,
.TaskManager-C .Bg-gray-sec::after,
.BPMS-BasisPanel .Bg-gray-sec::after{
  height: 100%;
}

 .section-8 ,
 .TaskManager-C .section-8,
 .Home-BasisPanel .section-4 {
  /* background-image: url('../images/bg-show-v3.png'); */
  background-image: url('../../images/bg-show-v3.png');
  background-position: center;
}

.Home-BasisPanel .help-Boxes .IMG-ov img{
    filter: drop-shadow( 0px 0px 50px 5px #00000033);

}
.ReleaseNote-Show .Bg-gray-sec::before{
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

}
.ReleaseNote-Show .section-1 .Box{
  box-shadow: 0px 0px 40px 0px #0000001A;

}
  #animations-example-1 {
    width: 100%;
    max-width: 300px;
    margin-left:auto;
    margin-right: 4em;
    margin-top: 1em;
  }
  #animations-example-1 .column {
    --aspect-ratio: 4 / 3;
  }
  #animations-example-1.appear .column td {
    transform-origin: bottom;
    animation: revealing-bars 2s linear;
  }
  #animations-example-1 th{
    font-size: 11.08px;
    font-weight: 400;
    line-height: 15.02px;

  }
  @keyframes revealing-bars {
    0%  { transform: scaleY( 0 ); }
    30% { transform: scaleY( 1 ); }
  }
  .charts-css.column.data-spacing-6 tbody tr:nth-child(1) td{
background-color: #F9461C;
  }
  .charts-css.column.data-spacing-6 tbody tr:nth-child(3) td{
    background-color: #38C2E1;
      }
.charts-css.column.data-spacing-6 tbody tr:nth-child(4) td{
 background-color: #00A693;
 }
.charts-css.column.data-spacing-6 tbody tr:nth-child(5) td{
 background-color:#004B85;
 }

.Home-BasisPanel #chart tbody tr th{
    width: max-content;
    transform: rotate(-45deg) translate(-9px, 10px);
       font-size: 11.08px !important;
    font-weight: 400;
    line-height: 15.52px;
    color: #68737C;
    font-family: "IRANSansWeb400" !important;
 }
.Home-BasisPanel #chart tbody tr{
    border: transparent !important;
 }

 .Home-BasisPanel .tabs .Tab:hover,
 .Home-BasisPanel .tabs .Tab.active{
    box-shadow: 5px 5px 10px 0px #000B1440;

 }
 li{
    line-height: 1px;
  
 }
 .fadeIN h3.appear,
 .fadeIN h4.appear{
  transform: translateX(0);
  opacity: 1;
 }
 .Home-BasisPanel .help-Boxes .helpBox .rightSec p,
 .Home-BasisPanel .help-Boxes .helpBox .leftSec p{
font-size: 15px;
font-weight: 400;
line-height: 22.5px;
text-align: justify;
color: #68737C;
 }
 .Home-BasisPanel .help-Boxes .helpBox .rightSec .spd,
 .Home-BasisPanel .help-Boxes .helpBox .rightSec h4,
 .Home-BasisPanel .help-Boxes .helpBox .rightSec p,
 .Home-BasisPanel .help-Boxes .helpBox .rightSec .IMG,
 .Home-BasisPanel .help-Boxes .helpBox .rightSec .IMG-ov,
 .Home-BasisPanel .help-Boxes .helpBox .SalesSec{
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
 }
 .Home-BasisPanel .help-Boxes .helpBox .leftSec .spd,
 .Home-BasisPanel .help-Boxes .helpBox .leftSec h4,
 .Home-BasisPanel .help-Boxes .helpBox .leftSec p,
 .Home-BasisPanel .help-Boxes .helpBox .leftSec .IMG {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms;
 }
 .Home-BasisPanel .help-Boxes .helpBox.appear .spd,
 .Home-BasisPanel .help-Boxes .helpBox.appear h4,
 .Home-BasisPanel .help-Boxes .helpBox.appear p,
 .Home-BasisPanel .help-Boxes .helpBox.appear .SalesSec,
 .Home-BasisPanel .help-Boxes .helpBox.appear .IMG,
 .Home-BasisPanel .help-Boxes .helpBox.appear .SalesSec{
  transform: translateX(0);
  opacity: 1;
 }
 .Home-BasisPanel .help-Boxes .helpBox.appear .IMG-ov{
  transform: translate(-30%,50%);
  opacity: 1;
 }
.Login-popup {
  backdrop-filter: blur(30px);

box-shadow: -10px 10px 30px 0px #E6E6E640;

}
.Login-popup input{
width: 100%;
height: 51px;
outline: none;
border: 1px solid #E6EDF3;
border-radius: 5px;
font-size: 12px;
font-weight: 400;
line-height: 14.8px;
color: #222222;
font-family: "IRANSansWeb400";
direction: rtl;
padding: 0 .5em;
}
.Login-popup input::placeholder,
.Login-popup input:placeholder-shown{
font-size: 12px;
font-weight: 400;
line-height: 14.8px;
color: #222222;
font-family: "IRANSansWeb400";
}
@keyframes lineAnimation {
  0%{
     width: 0%;
  }
  100%{
    width: 100%;
  }
}
.Alert-container.Show .Line{
 animation: lineAnimation 1s ;
 animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
 animation-fill-mode: both;
}

.Alert-container{
  transition: all 1s ease;
}
.accordion__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.accordion__content::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  height: 5px;
}

.accordion__content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #004B85;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #004B85;
}
.Line-container .line::before {
  -webkit-animation: line 3s ease-in-out 2.5s forwards infinite;
  animation: line 3s ease-in-out 2.5s forwards infinite;
}
main.ReleaseNote-C .section-3 {
background-image: url('../../images/Group.png');
background-size: cover;
}
.w-80p{
  max-width: 1400px;
}
.Tcontent .Text p{
  font-family: "IRANSansWeb400";
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #555555;
}
.captchabox{
  width: 320px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap:.4em;
  direction: rtl;
}
.captchabox input{
  border: 1px solid #E6EDF3;
  width: 175px;
  height: 46px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
  line-height: 14.18px;
  font-family: "IRANSansWeb400";
}
.captchabox input::placeholder{
  font-size: 12px;
  font-weight: 400;
  color: #222222;
  line-height: 14.18px;
  font-family: "IRANSansWeb400";
}
.captchabox .refreshCaptcha{
  width: 46px;
  height: 46px;
  background-color: #D5DDE3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.captchabox .refreshCaptcha:hover{
  cursor: pointer;
}
.captchabox img{
  width: 81px;
  height: 100%;
  padding: .1em 0;
  object-fit: cover;
  border: 1px solid #E6EDF3;
  border-radius: 5px;
}
.error-container,
.ResendEmail-container{
  display: flex;
  justify-content: space-between;
  direction: rtl;
  gap: .3em;
}
.error-container .error-p,
.ResendSMS,
.ResendEmail-container .ResendEmail{
color: #004B85;
font-size: 10px;
font-weight: 400;
line-height: 15.65px;
font-family: "IRANSansWeb400";
}
.ResendSMS:hover{
  cursor: pointer;
}
.mobileInput{
	position: relative;
}

.mobileInput .mobile-icon{
	position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobileInput input{
	padding: 0 30px;
	direction: ltr;
  padding-left: 60px;
}

.SelectBoxes,
.passwordBox .passwordEyeIcon {
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border: 1px solid #E6EDF3;
height: 50px;
}
.SelectBoxes .select_wrap {
  width: 100%;
  min-height: 44px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.SelectBoxes img{
  width: 26px;
  height: 17px;
  object-fit: cover;
}
 .SelectBoxes .select_wrap.active .default_option:before {
  transform: rotate(-180deg);
}
.SelectBoxes .select_wrap .option {
  display: flex;
  align-items: center;
}
.SelectBoxes .select_wrap .option p {
  font-family: "Far.Yekan";
  font-size: 8px;
  font-weight: 400;
  line-height: 8px;
  margin: auto;
  color: #8E8E8E;
}
.SelectBoxes .select_wrap .option .icon {
  background: url("https://i.imgur.com/oEZu0sK.png") no-repeat 0 0;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.SelectBoxes .select_wrap.active .select_ul {
  display: block;
}
.SelectBoxes .select_wrap .select_ul {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  right: 0;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  display: none;
  z-index: 2;
  border: 1px solid #BCBCBC;
}
.SelectBoxes .select_wrap .select_ul li {
  font-family: "Far.Yekan";
  font-size: 8px;
  font-weight: 400;
  line-height: 8px;
  color: #8E8E8E;
  padding: 10px 1em;
  cursor: pointer;
}
.SelectBoxes .select_wrap .select_ul li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.SelectBoxes .select_wrap .select_ul li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.SelectBoxes .select_wrap .select_ul li:hover {
  background: #8E8E8E;
  color: #fff !important;
}
 .SelectBoxes .select_wrap .select_ul li:hover p {
  color: #fff !important;
}
.SelectBoxes .default_option {
  min-height: 44px;
  border-radius: 5px;
  background: white;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
}
.SelectBoxes .default_option::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-width: 5px 5px 0 5px;
  border-color: #555555 transparent transparent transparent
}
.SelectBoxes .default_option > li {
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 46px;
}
.passwordBox{
  position: relative;
}
.passwordBox .passwordEyeIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.passwordBox .passwordEyeIcon:hover{
  cursor: pointer;
}
.passwordBox .passwordEyeIcon svg{
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
z-index: 2;
transition: all .3s ease;
}
.passwordBox .passwordEyeIcon svg.onHidden{
opacity: 1;
}
.passwordBox .passwordEyeIcon svg.onShow{
  opacity: 0;
  }
  .passwordBox .passwordEyeIcon.show svg.onHidden{
  opacity:0 ;
}
.passwordBox .passwordEyeIcon.show svg.onShow{
  opacity:1 ;
}
.NewuserInput{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.passContainer,
.mobileUser,
.RequireEmail,
.forgetPasswordC{
  width: 100%;
  position: relative;
}
.passContainer .optionalIcon,
.mobileUser .optionalIcon{
  position: absolute;
  top: 0;
  left: 0 ;
  width: 50px;
  height: 50px;
  background-color: #E6F7F5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00A693;
  font-size: 10px;
  font-weight: 400;
  line-height: 15.65px;
  font-family: "IRANSansWeb400";
  z-index: 2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
 .requireIcon,
 .mobileUser .requireIcon{
position: absolute;
top: 0;
left: 0 ;
width: 50px;
height: 50px;
background-color: #FFEDE9;
display: flex;
justify-content: center;
align-items: center;
color: #F9461C;
font-size: 10px;
font-weight: 400;
line-height: 15.65px;
font-family: "IRANSansWeb400";
z-index: 2;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.forgetPasswordC{
  display: flex;
  justify-content: flex-end;
  margin-top: .5em;
}
.forgetPasswordC .forgetPassword{
  color:#004B85;
  font-size: 10px;
  font-weight: 400;
  line-height: 15.65px;
  font-family: "IRANSansWeb400";
}
.forgetPasswordC .forgetPassword:hover{
  cursor: pointer;
}
input:focus{
  direction: ltr;
}
header{
  transition: all .4s;
}
header.bgWhite{
  background-color: white;
}
 .customer img{
  filter: grayscale(1);
  transition: all .4s ease;
  opacity: .6;
}
 .customer:hover img{
  filter: unset;
  opacity: 1;
}
.customer:hover{
  cursor: pointer;
}
input:focus::placeholder{
  color: transparent;
}
input.nonePadding{
  padding:0 .5em !important;
}
.passwordBox input{
  padding-left: 65px;
}
.emailListBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.65px;
  color: #222222;
  font-family: "IRANSansWeb400";
}
.mailsSelectBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #E6EDF3;
  border-radius: 5px;

}
.mailsSelectBox .email-item{
  width: 95%;
  display: flex;
  padding: .5em 0 ;
  justify-content: flex-start;
  align-items: center;
  gap: .5em;
  margin: auto;
}
.mailsSelectBox .email-item:not(:last-child){
  border-bottom: 1px solid #E6EDF3;
}
.mailsSelectBox input[type="radio"]{
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #C8CCCF;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all .4s ease;
}
.mailsSelectBox input[type="radio"]:checked{
border-color:#004B85 ;

}
.mailsSelectBox input[type="radio"]:checked::before,
.mailsSelectBox input[type="radio"].active::before{
  position: absolute;
  content: '';
  width: 13px;
height: 13px;
background-color:#004B85 ;
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
  }
.mailsSelectBox input[type="radio"].active{
  border-color:#004B85 ;
}
.mailsSelectBox .userSpan, .email-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.65px;
  color: #222222;
  font-family: "IRANSansWeb400";

}
.passwordBox-email input[type="password"]:focus,
 .passwordBox-email input[type="text"]:focus,
 .passwordBox-email input[type="password"],
 .passwordBox-email input[type="text"],
 .captchabox input[type="text"]{
  direction: ltr !important;
}
.NewuserInput input{
  padding-left: 60px;
}
.logoOut:hover{
  cursor: pointer;
}
.video-js .vjs-big-play-button{
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: none;
  background-color: #494949;
  align-items: center;
  box-shadow: 0px 0px 8px 8px #004B8533;
}
.vjs-modal-dialog .vjs-modal-dialog-content,
 .video-js .vjs-modal-dialog,
  .vjs-button > .vjs-icon-placeholder:before,
   .video-js .vjs-big-play-button .vjs-icon-placeholder:before{
  top: 15px;
  left: 3px;
}
.vjs-controls-disabled .vjs-big-play-button,
 .vjs-has-started .vjs-big-play-button,
  .vjs-using-native-controls .vjs-big-play-button,
   .vjs-error .vjs-big-play-button {
  display: none;
}
.vjs-icon-play:before,
 .video-js .vjs-play-control .vjs-icon-placeholder:before,
  .video-js .vjs-big-play-button .vjs-icon-placeholder:before{
  content: url('../images/Vector\ \(5\).png');

}
.video-js .vjs-tech{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-js .vjs-control-bar{
  height: 6em;
}
.Proccess-container .PurposeBox .IMG{
  box-shadow: 0px 0px 8px 8px #00000008;

}
.module-slider .swiper-pagination {
right: 0;
left: unset !important;
display: flex;
justify-content: flex-start;
}
.module-slider .swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  opacity: 1 !important;
  background-color: #D9D9D9;
}
.module-slider .swiper-pagination-bullet-active{
  background-color: #004B85;
}
.Login-popup{
  overflow: visible !important;
}
.gray #logos{
  background-color: #FAFAFA
}
.white  #logos{
  background-color: #fff
}
.gshadow{
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.answer p{
  color: #fff;
}
.flash{
  box-shadow: 0px 0px 8px 8px #00A6931A;
}
.btn-1{
  animation: blinkShadow 1s infinite alternate;
  animation-delay: .3s;
}
.btn-2{
  animation: blinkShadow 1s infinite alternate;
  animation-delay: .4s;
}
.btn-3{
  animation: blinkShadow 1s infinite alternate;
  animation-delay: .5s;
}
.btn-4{
  animation: blinkShadow 1s infinite alternate;
  animation-delay: .6s;
}
.btn-5{
  animation: blinkShadow 1s infinite alternate;
  animation-delay: .7s;
}
@keyframes blinkShadow {
  0% { box-shadow: 0px 0px 0px 0px  }
  100% {box-shadow: 0px 0px 8px 8px #00A6931A;}
}
.Question .text-question p {
font-size: 15px;
font-weight: 400;
line-height: 28px;
color: white;
font-family: "IRANSansWeb400";
}
.text-question{
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1100px) {
.kanban .column {
max-width: unset !important;
height: auto !important;
width: auto !important;
}
}
::-webkit-input-placeholder {
  display: inline-block;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  padding-right: .15em;
  white-space: nowrap;
}

input.callback:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-125%);
  font-size: 75%;
  opacity: 0.05
}

input.imitatefocus::-webkit-input-placeholder {
  -webkit-transform: translateY(-125%);
  opacity: 0.05
}
input.imitatefocus::placeholder{
  transform: translateY(-125%);
  opacity: 0;
}
.callback{
box-shadow: 0px 0px 16px 0px #004B854D;
font-size: 16px;
font-weight: 700;
line-height: 50px;
color: #68737C;
font-family: "IRANSansWeb700";
animation: blinkInput 1s infinite alternate;
outline: none;
text-align: right;
}
@keyframes blinkInput {
  0% {
    box-shadow: 0px 0px 0px 0px  
   }
  100% {
    box-shadow: 0px 0px 16px 0px #004B854D;
  
}
}
.chat-BasisPanel header{
  background-color: white;
}
input#conversationSearch,
input#conversationSearch::placeholder{
  color:#C8CCCF;
font-size: 14px;
font-weight: 500;
font-family: "IRANSansWeb500";
text-align: right;
}
.chat-BasisPanel .ME .userName{
  color:#68737C;
font-size: 12px;
font-weight: 500;
font-family: "IRANSansWeb500";
text-align: right;
}
.chat-BasisPanel .ME .message,
.chat-BasisPanel .YOU .message{
  color:#68737C;
font-size: 12px;
font-weight: 400;
font-family: "IRANSansWeb400";
text-align: right;
}
.chat-BasisPanel textarea,
.chat-BasisPanel textarea::placeholder,
.chatNodata-BasisPanel textarea,
.chatNodata-BasisPanel textarea::placeholder{
  color:#68737C;
font-size: 14px;
line-height: 21.91px;
font-weight: 500;
font-family: "IRANSansWeb500";
text-align: right;
direction: rtl;
padding-bottom: 3em;
resize: none;
padding-top: 5px;
height: auto; /* اجازه بده ارتفاع متناسب باشد */
min-height: 50px; /* حداقل ارتفاع */
max-height: 100px; /* حداکثر ارتفاع برای جلوگیری از بزرگ شدن */
overflow-y: auto; /* فعال کردن اسکرول زمانی که متن زیاد شد */
resize: none; /* جلوگیری از تغییر اندازه توسط کاربر */
white-space: pre-wrap; /* شکستن خطوط درون textarea */
word-wrap: break-word; /* انتقال متن به خط بعدی در صورت نیاز */
overflow: hidden;
padding-left: 2.3em;
}


.BPMS-BasisPanel .Chart-container .box{
  box-shadow: 0px 0px 8px 8px #00000008;

}

.dashed-line {
  stroke: #494949;
  stroke-width: 2px;
  stroke-dasharray: 3, 9;
  animation: dash 1.5s linear infinite;
}
@keyframes dash {
    from { stroke-dashoffset: 10; }
    to { stroke-dashoffset: 0; }
}
.BPMS-BasisPanel .featureBox .box{
  box-shadow: 0px 0px 8px 8px #00000008;

}
footer .Right .text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26.43px;
  color: white;
  font-family: "IRANSansWeb400";
  text-align: right;
}
.UserDropdown{
  box-shadow: 0px 0px 8px 8px #00000008;
}
.passwordBox-email input[type="password"]{
  direction: rtl !important;
}
.chat-BasisPanel .css-typing {
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}
.chat-BasisPanel .typewriter{
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
.typing-loader {
  font-size: 14px;
  font-weight: bold;
  color: #004B85;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: .3em;
}

.typing-loader span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-left: 1px;
  background-color: #004B85;
  border-radius: 50%;
  animation: typing 1s infinite ease-in-out;
    animation-delay: 0s;
  margin-top: 5px;
}

.typing-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0% { opacity: 0.3; transform: translateY(0px); }
  50% { opacity: 1; transform: translateY(-3px); }
  100% { opacity: 0.3; transform: translateY(0px); }
}

.chat-BasisPanel .loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #C8CCCF;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
.DropDowns {
  height: 80vh; /* به جای max-height از height استفاده کن */
  overflow-y: auto; /* فعال کردن اسکرول زمانی که محتوا زیاد می‌شود */
  overflow-x: hidden;
  flex-grow: 1; /* اجازه بده که فضای موجود رو بگیره */
  min-height: 0; /* این مقدار مهمه تا flexbox به درستی عمل کنه */
}
.DropDowns::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.DropDowns::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.DropDowns::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #004B85;
}


.SendMessage{
  transition:all .4s ease ;
}
.chat-BasisPanel .Drop {
  max-height: 55px; /* مقدار اولیه بسته بودن */
  transition: max-height 0.5s ease-in-out; /* انیمیشن برای باز و بسته شدن */
}

.chat-BasisPanel .Drop.open {
  max-height: 500px; /* مقدار کافی برای باز شدن، مقدار را به دلخواه تنظیم کن */
}


/* price list accordion */
.priceList .accordion__content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  color: #f1f1f1;
  opacity: 0;
}

.priceList .accordion__active .accordion__content {
  opacity: 1;
}
.priceList .accordion__intro input[type="checkbox"]:checked::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23004B85" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12l4 4L19 7"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}
.priceList table input[type="checkbox"]:checked::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23004B85" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12l4 4L19 7"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

.priceList .popularBtn::after{
  content: "محبوب‌ترین";
  background-color: #0D9900;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-family: "interBold";
  font-size: 8px;
  width: 65px;
  height: 20px;
  border-radius: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-15.8px,-10px);
}
.scrollDown .chevron {
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.scrollDown .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
 .scrollDown .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.scrollDown .chevron:before,
.scrollDown .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}
.scrollDown .chevron:before {
  left: 0;
  transform: skew(0deg, 45deg);
}
.scrollDown .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -45deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.Landing-Basispanel .Circle{
  background-image: url('../images/landingbg-v3.png');
}
.Landing-Basispanel .Color-circle-1{
  background: linear-gradient(180deg, #E5E5E5 0%, #FAFAFA 100%);
  box-shadow: 0px 16px 60.1px 22px #FFFFFF73 inset;
  animation: animatedCircle1 10s infinite ease-in-out;

}
.Landing-Basispanel .Color-circle-2{
  animation: animatedCircle2 10s infinite ease-in-out;

}
.shadow-effect::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 80%;
  height: 20px;
  background: radial-gradient(31.29% 31.29% at 50% 51.11%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  transform: translateX(-46%);
}
@keyframes animatedCircle1 {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 0.7;
  }
}

@keyframes animatedCircle2 {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.9) rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(-360deg);
    opacity: 0.5;
  }
}
.Landing-Basispanel .section-5 .det p{
position: relative;
display: flex;
gap: .5em;
flex-wrap: wrap;
padding-right: 1em;
}
.Landing-Basispanel .section-5 .det p::before{
  position: absolute;
  right: 0;
  top: 16px;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #004B85;
  border-radius: 50%;
  display: flex;
  }
  .fadeUP{
    transform: translateY(6em);
    opacity: 0;
    transition: all .9s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .fadeUP.appear{
    transform: translateY(0em);
    opacity: 1;
  }
  .Landing-Basispanel header li a,
  .Landing-Basispanel header .langC .langText,
  .Landing-Basispanel header svg path{
 color: white;
 fill:  white;
 stroke: white;
  }
  .Landing-Basispanel header .langs-content .langText{
    color: white !important;
     }
  .Landing-Basispanel header.bgWhite li a,
  .Landing-Basispanel header.bgWhite .langC .langText,
  .Landing-Basispanel header.bgWhite svg path{
color: #494949 !important;
fill:  #494949 !important;
stroke: #494949 !important;
  }
  }

.font-interBold{
  font-weight: 600;
}